@model Blog

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<form method="post" asp-action="Add" asp-controller="AdminBlog" enctype="multipart/form-data">
    <div class="section-header">
        <h2>Yeni Blog Girişi Yap</h2>
    </div>
    <div class="row">
        <div class="col-5 blogadd">
            <div>
                <label class="form-label">Blog Başlığı</label>
                @Html.TextBoxFor(x=>x.BlogTitle,new{@class="form-control"})
                @Html.ValidationMessageFor(x=>x.BlogTitle)
            </div>
            <br />
            <div class="mb-4">
                <label class="form-label">Kategori Seçiniz</label>
                @Html.DropDownListFor(x=>x.CategoryId,(List<SelectListItem>)ViewBag.CategoryValues,new{@class="form-control"})
            </div>
            <div class="mb-1">
                <label class="form-label">Blog İçeriği</label>
                @Html.TextAreaFor(x=>x.BlogContent,15,3, new{@class="form-control"})
                @Html.ValidationMessageFor(x=>x.BlogContent)
            </div>

            <br />
            <div>
                <label class="form-label">Blog Görseli</label>
                <input class="form-control" type="file" name="formFile" id="formFile">
                <span asp-validation-for="BlogImage" class="text-danger"></span>
            </div>
            <br />
            <button class="saved"><i class="bi bi-upload me-2"></i>Kaydet</button>
            <button class="backtolist">
                <a class="backtolistlink" href="/Admin/AdminBlog/Index"><i class="bi bi-arrow-left me-2"></i>Listeye Dön</a>
            </button>
        </div>
    </div>

</form>

<style>
    .saved {
        background-color: #eb5f42;
        color: white;
        border: none;
        width: 95px;
        height: 35px;
        border-radius: 5px;
    }

    .backtolist {
        background-color: #316464;
        color: white;
        border: none;
        width: 120px;
        height: 35px;
        border-radius: 5px;
    }

    .backtolistlink {
        color: white;
    }

    .blogadd {
        margin-left: 29%;
    }

</style>

