@model AdminControllerDetailBlogViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Data Tables</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Bu sayfa, web sitemizdeki proje içeriklerini kolayca keşfetmenize yardımcı olacak</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>                     
                       
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>Başlık</th>
                                    <th>Açıklama</th>
                                    <th>Kategori</th>
                                    <th>Oluşturma Zamanı</th>
                                    <th>Aktif Mi?</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var blog in Model.Blogs)
                                {
                                    <tr class="gradeX">
                                        <td>@blog.BlogTitle</td>
                                        <td>@blog.BlogContent</td>
                                        <td>@blog.Category.CategoryName</td>
                                        <td>@blog.BlogCreateDate</td>
                                        <td>
                                            @if (blog.IsDeleted)
                                            {
                                                <button data-active="@blog.BlogId" class="btn btn-danger">Pasif</button>
                                            }
                                            else
                                            {
                                                <button data-passive="@blog.BlogId" class="btn btn-success">Aktif</button>
                                            }
                                        </td>
                                        <td>
                                            <a href="/Admin/AdminBlog/Update/@blog.BlogId" style="color:white !important;" class="btn btn-primary">Güncelle</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="js/plugins/dataTables/datatables.min.js"></script>
<script src="js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>



<script>
    $(document).ready(function () {

        $('[data-active]').click(function (/*event*/) {
            //event.preventDefault(); // Sayfa yenilenmesni engeller

            const buttonElement = $(this)

            swal({
                title: "Aktif edilsin mi ?",
                text: "Bu işlem seçtiğiniz kategoriyi aktif edecektir.",
                icon: "info",
                buttons: ["İptal Et", "Aktif Et"],


            }).then(function (isConfirm) {
                if (isConfirm) {

                    $.ajax({
                        method: "post",
                        url: '/Admin/AdminBlog/Active/' + buttonElement.data('active'),

                    }).done(function (result) {
                        swal({
                            title: "Aktif etme işlemi başarılı",
                            icon: "success",
                            button: "Ok",
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 2000);

                    }).fail(function () {
                        swal({
                            title: "Aktif etme işlemi başarısız.",
                            icon: "danger",
                            button: "OK",
                        });

                    })
                }
                else {
                    swal({
                        title: "Akitf etme işlemi iptal edildi.",
                        icon: "success",
                        button: "OK",
                    });
                }
            })


        })

        $('[data-passive]').click(function (/*event*/) {
            //event.preventDefault(); // Sayfa yenilenmesni engeller

            const buttonElement = $(this)

            swal({

                title: "Pasif edilsin mi ?",
                text: "Bu işlem seçmiş olduğunuz kategoriyi pasif edecektir.",
                icon: "info",
                buttons: ["İptal Et", "Pasif Et"],
                dangerMode: true

            }).then(function (isConfirm) {
                if (isConfirm) {

                    $.ajax({
                        method: "post",
                        url: '/Admin/AdminBlog/Passive/' + buttonElement.data('passive'),

                    }).done(function (result) {
                        swal({
                            title: "Pasif işlemi başarılı",
                            icon: "success",
                            button: "OK",
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 2000);

                    }).fail(function () {
                        swal({
                            title: "Pasif işlemi başarısız.",
                            icon: "danger",
                            button: "OK",
                        });

                    })
                }
                else {
                    swal({
                        title: "Pasif işlemi iptal edildi.",
                        icon: "success",
                        button: "OK",
                    });
                }
            })
        })
    })
</script>

