@model BlogDetailsViewModel
@inject SignInManager<User> signInManager
@inject UserManager<User> UserManager


@if (signInManager.IsSignedIn(User))
{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
else
{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row g-5">

            <div class="col-lg-8">
                <article class="blog-details">

                    <div class="post-img">
                        <img src="@Model.Blog.BlogImage" alt="" class="" style="height:550px;width:850px"> @*maksimum size ayarla ve toplam mb ayarla ve uzantı kontrol yap*@
                    </div>

                    <h2 class="title">@Model.Blog.BlogTitle</h2>

                    <div class="meta-top">
                        <ul>
                            <li>
                                <a class="d-flex align-items-center" href="/UserProfile/AuthorPosts/@Model.Blog.User.Id"><i class="bi bi-person"></i> <time>@Model.Blog.User.UserName</time></a>
                            </li>
                            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a><time datetime="2020-01-01">@(((DateTime)Model.Blog.BlogCreateDate).ToString("dd-MM-yyyy"))</time></a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a>@Model.Blog.Comments.Count() yorum</a></li>
                        </ul>
                    </div><!-- End meta top -->

                    <div class="content">
                        <p>
                            @Model.Blog.BlogContent
                        </p>
                        <blockquote>
                            <p>
                                @Model.Blog.BlogTitle
                            </p>
                        </blockquote>
                    </div><!-- End post content -->
                </article>

                <div class="comments">
                    @await Component.InvokeAsync("CommentListByBlog",new {id = ViewBag.BlogId})



                    @await Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml")

                </div><!-- End blog comments -->

            </div>

            <div class="col-lg-4">

                <div class="sidebar">


                    <div class="sidebar-item categories">
                        <h3 class="sidebar-title">Kategoriler</h3>
                        <ul class="mt-3">
                            @foreach (var item in Model.Categories)
                            {
                                <li><a href="#">@item.CategoryName <span>(@item.Blogs.Count())</span></a></li>
                            }

                        </ul>
                    </div><!-- End sidebar categories-->

                    @await Component.InvokeAsync("WriterLastBlog")


                </div>

            </div>
        </div>

    </div>
</section><!-- End Blog Details Section -->
