@model List<Blog>

@inject SignInManager<User> signInManager


@if (signInManager.IsSignedIn(User))
{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
else
{

    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/_UserLayout.cshtml";


}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>



<section id="portfolio" class="portfolio sections-bg">
    <div class="container" data-aos="fade-up">
        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4 portfolio-container">
                @foreach (var item in Model)
                {
                    <div class="col-xl-4 col-md-6 portfolio-item filter-@item.Category.CategoryName">
                        <div class="portfolio-wrap">

                            <a>
                                <img src="@item.BlogImage" width="420" height="300" class="" alt="">
                            </a>

                            <div class="portfolio-info">
                                <h4><a style="text-decoration: none" href="/blogdetails/@item.BlogId" title="More Details">@item.BlogTitle</a></h4>
                                <p>
                                    @{
                                        if (item.BlogContent.Length < 130)
                                        {
                                            @item.BlogContent

                                        }
                                        else
                                        {
                                            @item.BlogContent.Substring(0,130)

                                        }
                                    }...
                                </p>
                                <br />
                                <p class="post-date">
                                    <i class="bi bi-person"></i> <time>@item.User.UserName</time>
                                </p>
                                <p class="post-date">
                                    <i class="bi bi-clock"></i> <time>@(((DateTime)item.BlogCreateDate).ToString("dd-MM-yyyy"))</time>
                                </p>
                            </div>

                            <div class="dropdown" style="left: 76%">
                                <button style="background-color: #316464; color: whitesmoke" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    İşlemler
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <button data-delete="@item.BlogId" class="dropdown-item"><i class="bi-trash text-dark"></i> - Blog Sil</button>
                                    </li>
                                    <li>
                                        <a href="/blog/editblog/@item.BlogId" editbtn title="Düzenle" class="dropdown-item"><i class="bi-pencil-square text-dark"></i> - Blog Düzenle</a>
                                    </li>
                                    <li>
                                        <a href="/blog/blogadd" class="dropdown-item"><i class="bi bi-plus-circle text-dark"></i> - Blog Oluştur</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {

        $('[data-delete]').click(function (/*event*/) {
            //event.preventDefault(); // Sayfa yenilenmesni engeller

            const buttonElement = $(this)

            swal({

                title: "Silinsin mi",
                text: "Bu işlem geri alınamaz",
                icon: "info",
                buttons: true,
                dangerMode: true

            }).then(function (isConfirm) {
                if (isConfirm) {

                    $.ajax({
                        method: "get",
                        url: '/blog/deleteblog/' + buttonElement.data('delete'),

                    }).done(function (result) {
                        buttonElement.parent().parent().parent().parent().parent().remove()
                        swal({
                            title: "Silme işlemi başarılı",
                            icon: "success",
                            button: "OK",
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 1000);

                    }).fail(function () {
                        swal({
                            title: "Silme işlemi başarısız.",
                            icon: "danger",
                            button: "OK",
                        });

                    })
                }
                else {
                    swal({
                        title: "Silme işlemi iptal edildi.",
                        icon: "success",
                        button: "OK",
                    });
                }
            })


        })

    })
</script>


