@model UserDetailViewModel

@inject SignInManager<User> signInManager


@if (signInManager.IsSignedIn(User))
{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
else
{

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";


}

<style>
    .portfolio-info h4 a {
        color: #222222;
        font-size: 18px;
        font-weight: 600;
    }

    .portfolio-info h4 a:hover {
            color: #eb5f42;
    }

    .portfolio-info p {
        color: #6c757d;
        font-size: 14px;
        margin-bottom: 0;
        padding-right: 50px;
    }

</style>

<!DOCTYPE html>
<html lang="en">
<body>

    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="row ">

                        @foreach (var item in Model.Blogs)
                        {
                            <div class="col-lg-6 col-md-6">
                                <article class="post-grid mb-5">
                                    <div class="post-thumb mb-4 ">
                                        <img src="@item.BlogImage" class="img img-fluid" style="object-fit: cover; height: 300px;" alt="">
                                    </div>
                                    <div class="portfolio-info">


                                        <p style="text-decoration:none;" title="More Details">@item.Category.CategoryName</p>

                                        <h4 class="post-title mt-1"><a href="/blogdetails/@item.BlogId">@item.BlogTitle</a></h4>

                                        <p>
                                            @{
                                                if (item.BlogContent.Length < 130)
                                                {
                                                    @item.BlogContent

                                                }
                                                else
                                                {
                                                    @item.BlogContent.Substring(0,130)

                                                }
                                            }...
                                        </p>
                                        <br>
                                        <p class="post-date">
                                            <i class="bi bi-clock"></i> <time>@(((DateTime)item.BlogCreateDate).ToString("dd-MM-yyyy"))</time>
                                        </p>
                                    </div>
                                </article>
                            </div>
                        }

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="sidebar sidebar-right">
                        <div class="sidebar-wrap mt-5 mt-lg-0">
                            <div class="sidebar-widget about mb-5 text-center p-3">
                                <div class="about-author">
                                    <img src="~/socialmediatemplate/images/Author.png" alt="" class="img-fluid">
                                </div>

                                <h4 class="mb-0 mt-4">@Model.User.NameSurname <a style="text-decoration:none;" href="/userprofile/UserEditProfile" title="Kullanıcı Düzenle"><i class="fa-solid fa-user-pen ms-2 "></i></a> </h4>
                                <p>@Model.User.UserName</p>
                                @{
                                    if (Model.User.CoverLetter.Length < 130)
                                    {
                                        @Model.User.CoverLetter
                                    }
                                    else
                                    {
                                        @Model.User.CoverLetter.Substring(0,130)
                                    }                                 
                                }...
                                <br />
                                <br />
                                <img src="~/socialmediatemplate/images/logo.png" alt="" class="img-fluid">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/socialmediatemplate/plugins/jquery/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="~/socialmediatemplate/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/socialmediatemplate/plugins/bootstrap/js/popper.min.js"></script>
    <!-- Owl caeousel -->
    <script src="~/socialmediatemplate/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/socialmediatemplate/plugins/slick-carousel/slick.min.js"></script>
    <script src="~/socialmediatemplate/plugins/magnific-popup/magnific-popup.js"></script>
    <!-- Instagram Feed Js -->
    <script src="~/socialmediatemplate/plugins/instafeed-js/instafeed.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script src="~/socialmediatemplate/plugins/google-map/gmap.js"></script>
    <!-- main js -->
    <script src="~/socialmediatemplate/js/custom.js"></script>


</body>
</html>

