@model UserSignUpViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Form-v5 by Colorlib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Register/css/roboto-font.css">
    <link rel="stylesheet" type="text/css" href="~/Register/fonts/font-awesome-5/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Register/css/style.css" />
</head>
<body>
    <div class="page-content">
        <div class="form-v5-content">
            <form role="form" asp-action="Index" class="form-detail">
                <h2>
                    Hesap Kayıt Formu
                </h2>
                <div class="form-row">
                    <span asp-validation-for="NameSurname" class="text-danger"></span>
                    <label for="full-name">Ad Soyad</label>
                    <input type="text" asp-for="@Model.NameSurname" class="form-control" placeholder="Ad Soyad" required>
                    
                </div>
                <br />
                <div class="form-row">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                    <label for="full-name">Kullanıcı Adınız</label>
                    <input type="text" asp-for="@Model.UserName" class="form-control" placeholder="Kullanıcı Adınız">
                </div>
                <br />
                <div class="form-row">
                    <span asp-validation-for="CoverLetter" class="text-danger"></span>
                    <label for="full-name">Hakkınızda</label>
                    <input type="text" asp-for="@Model.CoverLetter" class="form-control" placeholder="Hakkınızda" lin="60px">
                    @*@Html.TextAreaFor(x=>x.CoverLetter,15,76, new{@class="form-control"})*@
                </div>
                <br />
                <div class="form-row">
                    <span asp-validation-for="Mail" class="text-danger"></span>
                    <label>E-Mail</label>
                    <input type="email" class="form-control" asp-for="@Model.Mail" placeholder="E-Mail Adress">
                </div>
                <br />
                <div class="form-row">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <label>Şifre</label>
                    <input type="password" class="form-control" asp-for="@Model.Password" placeholder="Şifreniz">
                </div>
                <br />
                <div class="form-row">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <label>Şifre Tekrarı</label>
                    <input type="password" class="form-control" asp-for="@Model.ConfirmPassword" placeholder="Şifre Tekrarı" required="">
                    
                </div>
                <br />
                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value="Kayıt Ol">                   
                </div>
                <div class="form-row-last">
                    <a href="/Login/Index/" class="btn btn-secondary">Giriş Ekranına Dön</a>
                </div>
                

            </form>
           


        </div>
    </div>
</body>
</html>